---
- name: Install dependencies
  apt:
    name:
      - gnupg
      - software-properties-common
    state: present
    update_cache: yes

- name: Add HashiCorp GPG key
  shell: |
    wget -O- https://apt.releases.hashicorp.com/gpg \
    | gpg --dearmor \
    | tee /usr/share/keyrings/hashicorp-archive-keyring.gpg > /dev/null
  args:
    creates: /usr/share/keyrings/hashicorp-archive-keyring.gpg

- name: Add HashiCorp repo
  copy:
    dest: /etc/apt/sources.list.d/hashicorp.list
    content: |
      deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main

- name: Install Vault 
  apt:
    name: vault
    update_cache: yes
    state: present

- name: Create Vault data directory
  file:
    path: "{{ vault_data_dir }}"
    state: directory
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: '0750'

# - name: Deploy Vault systemd service
#   template:
#     src: vault.service.j2
#     dest: /etc/systemd/system/vault.service
#     mode: '0644'

# - name: Reload systemd
#   systemd:
#     daemon_reload: yes

- name: Enable Vault service
  systemd:
    name: vault
    enabled: yes