---
- name: Install dependencies
  apt:
    name:
      - gnupg
      - software-properties-common
    state: present
    update_cache: yes

- name: Add HashiCorp GPG key
  ansible.builtin.shell: |
    wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | tee /usr/share/keyrings/hashicorp-archive-keyring.gpg > /dev/null
  args:
    creates: /usr/share/keyrings/hashicorp-archive-keyring.gpg

- name: Add HashiCorp repo
  copy:
    dest: /etc/apt/sources.list.d/hashicorp.list
    content: |
      deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main

- name: Update APT and install Vault
  apt:
    name: vault
    state: present
    update_cache: yes

- name: Create Vault data dir
  file:
    path: /opt/vault/data
    state: directory
    owner: vault
    group: vault
    mode: '0750'

- name: Enable Vault service
  systemd:
    name: vault
    enabled: yes
