---
- name: Configure vault.hcl for Auto-Unseal provider
  copy:
    dest: /etc/vault.d/vault.hcl
    owner: vault
    group: vault
    mode: '0644'
    content: |
      ui = true
      disable_mlock = true
      
      api_addr = "http://{{ ansible_host }}:8200"
      cluster_addr = "http://{{ ansible_host }}:8201"
      
      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }
      
      storage "file" {
        path = "/opt/vault/data"
      }

- name: Start Vault
  systemd:
    name: vault
    state: started
    enabled: yes
