---
- name: Create Vault data directories for Raft
  file:
    path: "{{ item }}"
    state: directory
    owner: vault
    group: vault
    mode: "0755"
  loop:
    - /opt/vault/data
    - /opt/vault/raft

- name: Deploy vault.hcl for Transit Auto-Unseal Provider
  copy:
    dest: /etc/vault.d/vault.hcl
    owner: vault
    group: vault
    mode: "0644"
    content: |
      ui = true
      disable_mlock = true

      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }

      listener "tcp" {
        address = "0.0.0.0:8201"
        tls_disable = 1
        purpose = "cluster"
      }

      api_addr = "http://{{ hostvars[inventory_hostname].ansible_host }}:8200"
      cluster_addr = "http://{{ hostvars[inventory_hostname].ansible_host }}:8201"

      storage "raft" {
        path = "/opt/vault/raft"
        node_id = "{{ inventory_hostname }}"
      }

- name: Restart Vault service
  systemd:
    name: vault
    state: restarted
    enabled: yes
