---
# 1. Load unseal token created by Auto_Unseal_Provider
- name: Load unseal token from controller
  delegate_to: localhost
  slurp:
    src: "./auto_unseal_token.txt"
  register: unseal_token_raw

- set_fact:
    unseal_token: "{{ unseal_token_raw.content | b64decode }}"

# 2. Configure vault.hcl for follower
- name: Configure vault.hcl for follower
  copy:
    dest: /etc/vault.d/vault.hcl
    owner: vault
    group: vault
    mode: '0644'
    content: |
      storage "raft" {
        path    = "/opt/vault/data"
        node_id = "{{ inventory_hostname }}"
      }

      ui = true
      disable_mlock = true

      api_addr = "http://{{ ansible_host }}:8200"
      cluster_addr = "http://{{ ansible_host }}:8201"

      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }

      seal "transit" {
        address    = "http://{{ hostvars['Auto_Unseal_Provider'].ansible_host }}:8200"
        token      = "{{ unseal_token }}"
        key_name   = "autounseal-key"
        mount_path = "transit/"
      }


# 3. Enable/start vault
- name: Enable and start Vault service
  systemd:
    name: vault
    enabled: yes
    state: started


# 4. Join follower to RAFT cluster
- name: Join follower to the RAFT cluster
  ansible.builtin.command: >
    vault operator raft join http://{{ hostvars['Vault_Master'].ansible_host }}:8200
  environment:
    VAULT_ADDR: "http://127.0.0.1:8200"
  register: raft_join_output
  failed_when: false

- debug:
    msg: "{{ raft_join_output.stdout }}"
