---
- name: Load unseal token from controller
  delegate_to: localhost
  slurp:
    src: "./auto_unseal_token.txt"
  register: unseal_token_raw

- set_fact:
    unseal_token: "{{ unseal_token_raw.content | b64decode }}"

- name: Create vault.hcl for Vault_Master
  copy:
    dest: /etc/vault.d/vault.hcl
    owner: vault
    group: vault
    mode: '0644'
    content: |
      storage "raft" {
        path    = "/opt/vault/data"
        node_id = "VaultMaster"
      }

      ui = true
      disable_mlock = true

      api_addr = "http://{{ ansible_host }}:8200"
      cluster_addr = "http://{{ ansible_host }}:8201"

      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }

      seal "transit" {
        address    = "http://{{ hostvars['Auto_Unseal_Provider'].ansible_host }}:8200"
        token      = "{{ unseal_token }}"
        key_name   = "autounseal-key"
        mount_path = "transit/"
      }

- name: Enable and start Vault
  systemd:
    name: vault
    enabled: yes
    state: started

- name: Initialize Vault
  ansible.builtin.command: vault operator init -format=json
  environment:
    VAULT_ADDR: "http://127.0.0.1:8200"
  register: vault_master_init
  changed_when: true

- name: Save master init output
  delegate_to: localhost
  copy:
    dest: "./vault_master_init.json"
    content: "{{ vault_master_init.stdout }}"
    mode: '0600'

- name: Unseal Vault
  ansible.builtin.command: "vault operator unseal {{ item }}"
  loop: "{{ (vault_master_init.stdout | from_json).unseal_keys_b64 }}"
  environment:
    VAULT_ADDR: "http://127.0.0.1:8200"

- name: Login using root token
  ansible.builtin.command: "vault login {{ (vault_master_init.stdout | from_json).root_token }}"
  environment:
    VAULT_ADDR: "http://127.0.0.1:8200"
