---
- name: Load unseal token from controller
  delegate_to: localhost
  slurp:
    src: "./auto_unseal_token.txt"
  register: unseal_token_raw

- set_fact:
    auto_unseal_token: "{{ unseal_token_raw.content | b64decode }}"

- name: Apply vault.hcl template for master
  template:
    src: vault.hcl.j2
    dest: /etc/vault.d/vault.hcl
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: '0644'

- name: Start Vault
  systemd:
    name: vault
    state: started
    enabled: yes

# - name: Initialize Vault
#   ansible.builtin.command: vault operator init -format=json
#   environment:
#     VAULT_ADDR: "{{ VAULT_ADDR }}"
#   register: vault_master_init
#   changed_when: true

# - name: Save master init output
#   delegate_to: localhost
#   copy:
#     dest: "./vault_master_init.json"
#     content: "{{ vault_master_init.stdout }}"
#     mode: '0600'

# - name: Unseal Vault
#   ansible.builtin.command: "vault operator unseal {{ item }}"
#   loop: "{{ (vault_master_init.stdout | from_json).unseal_keys_b64 }}"
#   environment:
#     VAULT_ADDR: "{{ VAULT_ADDR }}"

# - name: Login using root token
#   ansible.builtin.command: "vault login {{ (vault_master_init.stdout | from_json).root_token }}"
#   environment:
#     VAULT_ADDR: "{{ VAULT_ADDR }}"

